body {
	font-family: "Helvetica", Arial, sans-serif;
}

#home {
	text-align: left;
	background : url("../images/logo.png") bottom center no-repeat;
}


#home .ui-controlgroup {
	
	margin: 0 auto;
	margin-top: 20px;
	margin: 20px;
}

#home img {
	width: 50%;
	max-width: 200px;
}

#videolist img {
	display: block;
	width: 90%;
}

.ui-icon-map {
	background-image: url("images/icon_map.png");
}

.ui-icon-news {
	background-image: url("images/icon_news.png");
}
.ui-icon-farmer {
	background-image: url("images/icon_farmer.png");
}
.ui-icon-food{
	background-image: url("images/icon_food.png");
}

.ui-icon-video {
	background-image: url("images/icon_video.png");
}

.ui-icon-photo {
	background-image: url("images/icon_photo.png");
}


#videolist h3 {
	margin: 15px 0 5px 0;
	height: 35px;
	overflow: hidden;
	font-size: 1em;
}

#videolist img {
	width: 90%;
}

#videolist a {
	text-decoration: none;
	color: #777;
}

#videoplayer .ui-content {
	margin: 0;
	padding: 0;
}

#videoplayer iframe {
	width: 100%;
	min-height: 50%;
}

#videoplayer h3, #myplayer p {
	padding: 0 5%;
}


#photolist img {
	width: 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-border-radius: 10px;
}

#photolist .ui-block-a,
#photolist .ui-block-b,
#photolist .ui-block-c {
	width: 100px;
	height: 100px;
	padding: 5px;
        margin: 5px;
}

#photolist.ui-grid-c {
	width: 330px;
	padding: 0;
	margin: 0 auto;
}

#showphoto {
	background: black;
}

#showphoto img {
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
}

#showphoto .ui-content {
	width: 100%;
	padding: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {

	.ui-icon-vs_video {
		background-image: url("images/icon_video_hr.png");
		background-size:18px 18px;
	}
	
	.ui-icon-vs_photo {
		background-image: url("images/icon_photo_hr.png");
		background-size:18px 18px;
	}
	
	.ui-icon-vs_blog {
		background-image: url("images/icon_blog_hr.png");
		background-size:18px 18px;
	}
	
	.ui-icon-vs_twitter {
		background-image: url("images/icon_twitter_hr.png");
		background-size:18px 18px;
	}

}