#videolist img {
	width: 90%;
}
#videoplayer iframe {
	width: 100%;
	min-height: 50%;
}
#videolist h3 {
        text-align: center;
	margin: 15px 10px 5px 0;
	height: 35px;
	overflow: hidden;
	font-size: 1em;
        width:90%;
}

